<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/static/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/static/bootstrap/css/bootstrap.min.css"/>
	<title>QUARNA</title>
</head>
<body>
	<div>
		<div class="col-md-12">
			<div style="float:left" class="col-md-2" align="left">
				{% load staticfiles %}
				<img src="{% static "quartet.png" %}" height="120px" width="154px" alt="logo"/>
			</div>
			<div class="col-md-8" align="center" style="text-align: center;color:SteelBlue;font-size: 60px;font-family:Rockwell Extra Bold">QUARNA<br>
				<div class="col-md-12" align="center" style="text-align: center;color:Black;font-size: 30px;font-family:Rockwell Extra Bold">(QUArtets in RNA) 
				</div>
			</div>
			<div style="float:right" class="col-xs-4 col-md-2" align="right">
				{% load staticfiles %}
				<img src="{% static "iiit_logo.jpg" %}" height="120px" width="194px" alt="iiit_logo"/>
			</div>
		</div>
		<div>
			<nav class="navbar navbar-inverse"style="clear:both;">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li><a href="/" style="font-size: 17px"><strong>Home</strong></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="font-size: 17px"><strong>Quartet Atlas</strong>
							<span class="caret"></span></a>
							<ul class="dropdown-menu" style="font-size: 17px;">
								<li><a href="/{{ 'media/output/direct_download/linear.html' }}" target="_blank"><strong>Linear</strong></a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/{{ 'media/output/direct_download/star.html' }}" target="_blank"><strong>Star</strong></a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/{{ 'media/output/direct_download/cyclic-4.html' }}" target="_blank"><strong>Cyclic-4</strong></a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/{{ 'media/output/direct_download/cyclic-3.html' }}" target="_blank"><strong>Cyclic-3</strong></a></li>
							</ul>
						</li>
						<li><a href="/help/"style="font-size: 17px" target="_blank"><strong>Help</strong></a></li>
						<li><a href="/tnd/" style="font-size: 17px" target="_blank"><strong>Terms and definition</strong></a></li>
						<li><a href="/contact/" style="font-size: 17px" target="_blank"><strong>Contact</strong></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-xs-4 col-md-4" style="padding:0px">
			{% load staticfiles %}
			<img src="{% static "image_for_web.jpg" %}" class="img-thumbnail" style="height:355px" alt="...">
		</div>	
		<div class="col-xs-4 col-md-5 center-justified" >
			<p style="font-family:Arial Rounded MT Bold " align="justify" >
				The single stranded RNA molecule folds on to itself to open up a possibility of forming a large variety of non-canonical base pairs, where two nucleobases interact with each other via any of the three distinct interacting edges - Watson Crick edge(W), Hoogsteen edge(H) and Sugar edge(S). In complex folded structures of RNA, often more than two bases get involved in edge-to-edge hydrogen bonding interactions to form base triples (involving 3 bases) and quartets (involving 4 bases) which, in turn, facilitate formation of local structural motifs or long range interactions and thus are recurrently observed in different RNA molecules. Comprehensive classification and nomenclature scheme for base pairs and base triples are already available. Here we have proposed a topology based classification and nomenclature scheme for base quartets.
				<br>
				<mark><strong>QUARNA</strong></mark> provides list of quartets present in non-redundant dataset of RNA structures obtained from HDRNAS and NDB as well as in a larger dataset obtained from RCSB PDB with 3.5 Angstrom resolution cut-off. It also provides an in-built quartet-finder program to detect <mark><strong>nucleotide base quartets</strong></mark> of different topology from a given pdb file.<br>
				<i>Note:</i> Best viewed in Firefox. 
				<!-- <br> -->
				<br>
				<br>
			</p>
		</div>
		<div align="center" class="panel panel-primary col-xs-4 col-md-3" style="height:355px">
			<div class="panel-heading" style="color:black;font-size: 18px;font-family:Monaco">
				<strong>Topology wise searching</strong>
			</div>
			<div class="panel-body" style="padding: 0px">
				<div class="list-group">
					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px" class="col-md-11">
						<a class="list-group-item" href="/linear/" target="_blank" style="margin-bottom: 8px;margin-top: 8px"><strong>Search in Linear Quartet</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#linear_topology" target="_blank">[?]</a></small></strong></div>
					</div>

					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px" class="col-md-11">
						<a class="list-group-item" href="/star/" target="_blank" style="margin-bottom: 8px;margin-top: 8px"><strong>Search in Star Quartet</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#star_topology" target="_blank">[?]</a></small></strong></div>
					</div>

					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px" class="col-md-11">
						<a class="list-group-item" href="/cyclic/" target="_blank" style="margin-bottom: 8px;margin-top: 8px"><strong>Search in Cyclic-4 Quartet</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#cyclic4_topology" target="_blank">[?]</a></small></strong></div>
					</div>

					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px" class="col-md-11">
						<a class="list-group-item" href="/semi_cyclic/" target="_blank" style="margin-bottom: 8px;margin-top: 8px"><strong>Search in Cyclic-3 Quartet</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#cyclic3_topology" target="_blank">[?]</a></small></strong></div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-primary col-xs-4 col-md-4" style="height: 325px" >
			<div align="center" class="panel-heading" style="color:black;font-size: 18px;font-family:Monaco"><strong>Quartet Finder</strong></div>
			<div class="panel-body">
				<form action="/pdb_upload/" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						<label for="exampleInputEmail1">
							PDB file name:
						</label>
						<label style="float:right"><small><a href="#" onClick="autoFill('pdb_file-3tvf'); return false;" id="test_button1">Test Example</a></small></label>
						<input type="textbox" class="form-control pdb_file" name="pdb_name" placeholder="PDB File Name">
					</fieldset>						
					<br>
					<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
						<span style="font-size: 30px; background-color: white; padding: 0 10px;">
							OR
						</span>
					</div>
					<br>
					<br>
					<label class="file" style="margin-bottom: 22px">
						Upload PDB file:
						<input type="file" name="uploaded_pdb">
						<span class="file-custom"></span>
					</label>
					<br>
					<input class="btn btn-primary" type="submit" title="The page may take time to load for huge PDB files." onclick="HideButton('download_button1'); HideButton('view_button1');" value="Find Quartets" />
					{% if download_path != None %}
					<a class="btn btn-primary" title="The download will be available only for 30mins." href="/{{download_path}}" id="download_button1" download={{ file_name }}>Download</a>
					<a class="btn btn-primary" href="/jsmol_view/{{ pdb_name }}/" id="view_button1" target="_blank">View</a>
					{% endif %}
					{% if alert_msg1 != None %}
						<script type="text/javascript">
							alert("{{alert_msg1}}");
							location = "http://127.0.0.1:8000/"; //REMEMBER TO CHANGE
						</script>
					{% endif %}
					{% if alert_msg2 != None %}
						<script type="text/javascript">
							alert("{{alert_msg2}}");
							location = "http://127.0.0.1:8000/"; //REMEMBER TO CHANGE
						</script>
					{% endif %}
				</form>
			</div>
		</div>	
		<div class="panel panel-primary col-xs-4 col-md-4" style="height: 325px">
			<div align="center" class="panel-heading" style="color:black;font-size: 16px;font-family:Monaco"><strong>Search quartets with specified residues</strong></div>
			<div class="panel-body">

				<form action="/specific_residue/" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						<label for="exampleInputEmail1">Enter 4 residue name <small class="text-muted">(',' seperated)</small></label>
						<label style="float:right"><small><a href="#" onClick="multi_autoFill('res-A,A,C,G;topo-star;data-XRAY'); return false;" id="test_button1">Test Example</a></small></label>
						<input type="textbox" name="residues" class="form-control res" placeholder="A, U, G, C">
					</fieldset>						

					<fieldset class="form-group">
						<label for="exampleSelect1">Topology <a href="/tnd#topology" target="_blank">[?]</a></label>
						<select class="form-control topo" name="topology">	
							<option value="linear">Linear</option>
							<option value="star">Star</option>
							<option value="cyclic">Cyclic-4</option>
							<option value="semicyclic">Cyclic-3</option>
						</select>
					</fieldset>						
					<fieldset class="form-group">
						<label for="exampleSelect1">Database <a href="/tnd#datasets" target="_blank">[?]</a></label>
						<select class="form-control data" name="database">
							<option value="HDRNA">HDRNA</option>
							<option value="XRAY">Xray</option>
							<option value="NMR">NMR</option>
							<option value="NDB">NDB</option>
						</select>
					</fieldset>						
					<input class="btn btn-primary" type="submit" onclick="HideButton('download_button2'); HideButton('view_button2')" value="Search" />
					{% if download_path_sr != None and file_empty == None %}
					<a class="btn btn-primary" title="The download will be available only for 30mins." href="/{{download_path_sr}}" id="'download_button2" download={{ file_name }}>Download</a>
					<a class="btn btn-primary" href="/specific_residue_view/{{file_name}}/" id="view_button2" target="_blank">View</a>
					{% elif file_empty != None %}
						<script type="text/javascript">
							alert("{{file_empty}}");
							location = "http://127.0.0.1:8000/"; //REMEMBER TO CHANGE
						</script>				
					{% endif %}
					{% if alert_msg3 != None %}
						<script type="text/javascript">
							alert("{{alert_msg3}}");
							location = "http://127.0.0.1:8000/"; //REMEMBER TO CHANGE
						</script>
					{% endif %}
					{% if alert_msg4 != None %}
						<script type="text/javascript">
							alert("{{alert_msg4}}");
							location = "http://127.0.0.1:8000/"; //REMEMBER TO CHANGE
						</script>
					{% endif %}
				</form>
			</div>
		</div>
		<div align="center" class="panel panel-primary col-xs-4 col-md-4" style="height: 325px">
			<div class="panel-heading" style="color:black;font-size: 16px;font-family:Monaco"><strong>Quartets present in different databases</strong></div>
			<div class="panel-body" style="padding: 0px">
				<div class="list-group">
					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px" class="col-md-11">
						<a class="list-group-item" href="/{{ 'media/output/direct_download/HDRNA_quartets.zip' }}" style="margin-top: 8px"><strong>HDRNAS</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#datasets" target="_blank">[?]</a></small></strong></div>
					</div>
					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px;" class="col-md-11">
						<a class="list-group-item" href="/{{ 'media/output/direct_download/NDB_quartets.zip' }}" style="margin-top: 8px"><strong>NDB Non redundant</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#datasets" target="_blank">[?]</a></small></strong></div>
					</div>
					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px" class="col-md-11">
						<a class="list-group-item" href="/{{ 'media/output/direct_download/XRAY_quartets.zip' }}" style="margin-top: 8px"><strong>All X-ray Structure</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#datasets" target="_blank">[?]</a></small></strong></div>
					</div>
					<div class="col-md-12" style="padding: 0px">
						<div style="padding:0px" class="col-md-11">
						<a class="list-group-item" href="/{{ 'media/output/direct_download/NMR_quartets.zip' }}" style="margin-top: 8px"><strong>All NMR Structure</strong></a><br>
						</div>
						<div style="padding: 0px;margin-top: 5px" class="col-md-1"><strong><small><a href="/tnd#datasets" target="_blank">[?]</a></small></strong></div>
					</div>
				</div>
			</div>	
		</div>	
	</div>
	<div class="col-xs-12 col-md-12" >
		<hr style="border-top:solid;border-width: 2px; color: #000; margin: 0px">
		QUARNA version 1.0 © CCNSB, IIIT Hyderabad
	</div>

<script type="text/javascript">
	function HideButton(buttonId){
		document.getElementById(buttonId).style.display = 'none';
	}
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

<script type="text/javascript">
    function autoFill(text){
        var c = text.split('-');
    	// alert(c);
        $('.'+c[0]).val(c[1]);
    }
    function multi_autoFill(text){
        var sets = text.split(';');
        for(i=0;i<sets.length;i++){
        	// alert(sets[i]);
            autoFill(sets[i]);
        }
    }
</script>
</body>
</html>
